.project {

  &__images__single {
    padding: 20px 0 20px 0;

    @mixin atSmall {
      padding: 0;
      width: 100%;
      }

      &:last-child .content__item__title{
        font-size: 1.2rem;  
        font-weight: bold; 
        line-height: 1.1;
        margin-bottom: 0px;
      }
      
      &:last-child .content__item__copyright{
        display: block;
        font-size: 1.2rem;  
        font-weight: bold; 
        line-height: 1.1;
        margin: 0;
      }

      &:last-child .content__item__text p{
        font-size: 1.2rem;  
        line-height: 1.1;
        font-weight: bold; 
        margin: 0;
    }
  }


  &__images__single img {
    display: block; 
    width: 100%;
    max-width: 500px;
    max-height: 100%;
    padding-bottom: 10px;
    
 
    @mixin ipad_p {
      max-width: 1000px;
    }

    @mixin atSmall {
    padding-bottom: 0px;
    height: 0;
    opacity: 0; 
    transition: opacity 0.3s ease-out;
    width: 100%;
    object-fit: contain;
    }
    
  }
}
  
.current img {

  @mixin atSmall {
  margin-bottom: 0px;
  opacity: 1;
  display: block;
  width: 55vw;
  height: auto;
  cursor: default;
  }

  @mixin atLaptop {
    width: 55vw;
    height: auto;
  }

  @mixin lgImgFix {
    max-width: 743px;
   }
} 


.content {
  
  position: relative;
  margin-top: 50px;
  margin-top: calc(( 100vh - 170px  - ( .625 * 55vw ) )/2); 

  @mixin lgImgFix {
    margin-top: calc(( 100vh - 170px  - ( .625 * 743px ) )/2);
   }
  
  &__item{

    &__title {
      margin-bottom: 20px;
      font-weight: bold;
    }

    &__text a {
      text-decoration: underline;
    }

    &__text   p {
      margin: 0 0 0.4em 0;
      font-weight: 400;
    }

    @mixin atSmall {
      &__title {
        margin-bottom: 30px;
      }

    }

    &__copyright {
      display: none;
    }

    &:last-child { 
      height: calc(100vh - 30px);
    }

    &:last-child .content__item__title{
      font-size: 2rem;  
      font-weight: bold; 
      line-height: 1.1;
      margin-bottom: 0px;
    }
    
    &:last-child .content__item__copyright{
      display: block;
      font-size: 2rem;  
      font-weight: bold; 
      line-height: 1.1;
      margin: 0;
    }

    &:last-child .content__item__text p{
        font-size: 2rem;  
        line-height: 1.1;
        font-weight: bold; 
        margin: 0;
    }

    @mixin atSmall {
      height: 57vh;
      margin-bottom: 0px;

      &:last-child {
        margin-bottom: 0px;
      }

      p{
        margin: 0 0 0.7em 0;
        max-width: 350px;
      }
    }

    @mixin atLaptop {
      height: 58vh;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    &--mobile {
      max-width: 500px;

    &.content__item__copyright{
      display: none;
    }

      @mixin ipad_p {
        max-width: 500px;
      }

      @mixin atSmall {
        max-width: 100%;
        display: none;
      }

    }
  }
} 