.site-header {
    color: black;
    position: static;
    top: 0;
    z-index: 999;
    width: 100%;
    display: block;  
    transition: top 0.5s;
    

    &--fixed { 
        position: fixed;  
        display: none;
    

        @mixin atSmall {
            display: block;
        } 
    }

    &--static {
        display: block;

        & h1 {
            font-size: 1.55rem;
        }

        @mixin atSmall {
            visibility: hidden;
            font-size: 2rem;
        } 
    }

}



  



